@page "/"
@model SalonulNOST2.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<!-- Formular de căutare -->
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
            <!-- Link pentru sortare după nume -->
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-searchString="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Service[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
